---
import DefaultLayout from '../../../layouts/esp/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

export async function getStaticPaths({ paginate }) {
  const response = await fetch('https://jsonplaceholder.typicode.com/posts')
  const data = await response.json()

  return paginate(data, { pageSize: 6 })
}

const servicesCard = [
  {
    icon: 'mdi:marketplace',
    title: 'Investigación de mercado y relaciones públicas',
    subtitle: 'Somos expertos en averiguar qué funciona mejor.',
    description: 'Disponemos de herramientas y métodos para investigar y analizar lo que mejor funciona en su mercado, local y más allá. Incluso podemos ver lo que hace la competencia. Esto nos ayuda a desarrollar la estrategia más eficaz que le permitirá empezar a ver un aumento de negocio más pronto que tarde.',
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 purple'
  },
  {
    icon: 'mdi:cellphone-wireless',
    title: 'Publicidad en redes sociales',
    description: 'El marketing en medios sociales es el uso de plataformas de medios sociales para conectar con su público para construir su marca, aumentar las ventas y dirigir el tráfico del sitio web. Crearemos contenidos de calidad en sus perfiles de redes sociales, escucharemos a sus seguidores y conseguiremos su implicación, analizaremos sus resultados y publicaremos anuncios eficaces en las redes sociales que generarán clientes potenciales cada mes.',
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 pink'
  },
  {
    icon: 'mdi:search-web',
    title: 'Publicidad en buscadores',
    description: 'La publicidad en buscadores (SEA) es una rama del marketing online. Los anuncios en forma de texto o imágenes se publican en motores de búsqueda como Google. Disponemos de un método propio, de sombrero blanco, 1 a 1, que aprovecha el uso eficaz de cientos de palabras clave con precios accesibles. Permitiendo a su negocio competir con los que más gastan, gastando considerablemente menos.',
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 blue'
  },
  {
    icon: 'mdi:cellphone-link',
    title: 'Diseño Web y embudos digitales',
    description: 'Diseñamos sitios web y páginas de destino que funcionan, nuestro equipo de diseño crea diseños minimalistas y atractivos, presentando la información de forma no intrusiva. Para evitar desviar a la gente con elementos visuales redundantes, utilizamos diseños limpios y sencillos en blanco que mantienen a al cliente en su producto o servicio y llamadas de acción a la venta.',
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 green'
  },
  {
    icon: 'mdi:bullhorn-outline',
    title: 'Marca e identidad',
    description: 'Nuestro equipo de diseño trabajará estrechamente para comprender los valores fundamentales de su empresa, sus ideas y sus clientes objetivos con el fin de identificar y diseñar la marca de su empresa. Nuestra estrategia de marca se centrará en dar a conocer a sus clientes y la estrategia de mercado con el fin de lograr la adopción y activación del mercado.',
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 orange'
  },
  {
    icon: 'mdi:account-convert',
    title: 'Seguimiento y nutrición de clientes potenciales',
    description: "Estamos especializados en el seguimiento de clientes potenciales y le ayudamos a enviar mensajes específicos en función de la fase del proceso de compra en la que se encuentre el cliente potencial. Lead nurturing es el proceso de desarrollar y reforzar las relaciones con los compradores en cada etapa del embudo de ventas. Podemos realizar estos servicios por usted, crearle su propio CRM",
    color: 'feature flex flex-col gap-4 my-4 hover:-translate-y-6 transition duration-500 red'
  },

];



---

<DefaultLayout
  title="Services"
  description="Orange Dot MKT is a dynamic and innovative digital marketing agency. Specialized in making online business growth through marketing consultants services , innovative strategies and data-driven insights. Our services include SEO, social media, content, web design, funnel optimization, landing pages, and both paid and organic social media advertising."
>
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="sm:space-8 space-y-12">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl text-orange-500 text-center">Nuestros servicios</h2>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">

          {servicesCard.map((item) =>(
            <div class={item.color}>
              <Icon name={item.icon} />
              <div class="content">
                <h3>{item.title}</h3>
                <h5 class="dark:text-white">{item.subtitle}</h5>
                <p class="mt-7">
                  {item.description}
                </p>
              </div>
            </div>
            
          ))}
        </div>
      </div>
    </div>
  </section>

</DefaultLayout>

<style lang="scss">
  

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }

    // --Purple
    &.purple::after {
        background-color: #8E44AD !important;
      }
    //  End Pruple

    //  Rose
      &.pink::after {
        background-color: #FF69B4 !important;
      }

    //  End rose

    //  Blue
      &.blue::after {
        background-color: #2E86C1 !important;
      }

    //  End Blue

    //  green
      &.green::after {
        background-color: #28B463 !important;
      }

    //  End green


    //  red
      &.red::after {
        background-color: #E74C3C !important;
      }

    //  End red
  }

  :global(.feature [astro-icon]) {
    width: 4rem;
    color: var(--action-color);
  }

  

   // Purple
   :global(.feature.purple [astro-icon]) {
      color: #8E44AD !important;
    }

    :global(.feature.purple h3) {
        color: #8E44AD;
      }

    
  //  End Pruple

   //  Rose
    :global(.feature.pink [astro-icon]) {
        color: #FF69B4 !important;
      }

      :global(.feature.pink h3) {
        color: #FF69B4;
      }

      
    //  End rose

    //  blue
    :global(.feature.blue [astro-icon]) {
        color: #2E86C1 !important;
      }

      :global(.feature.blue h3) {
        color: #2E86C1;
      }

      
    //  End blue

    // green
      :global(.feature.green [astro-icon]) {
        color: #28B463 !important;
      }

      :global(.feature.green h3) {
        color: #28B463;
      }

      
    //  End green

    //  red
      :global(.feature.red [astro-icon]) {
        color: #E74C3C !important;
      }

      :global(.feature.red h3) {
        color: #E74C3C;
      }

      
    //end Red

  :global(.feature h3) {
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
